@import "../variable/color";


.middle-header {
  padding: 20px 0;

  .action {
    ul {
      li {
        margin-right: 40px;

        .icon {
          width: 50px;
          height: 50px;
          background-color: #f2f2f2;
          border-radius: 50%;
          color: $themeColor;
          font-size: 22px;
          line-height: 50px;
          text-align: center;
          margin-right: 14px;
        }

        .text {
          h6 {
            font-size: 16px;
            color: #666;
          }

          span {
            color: #999;
            font-size: 14px;
          }
        }
      }
    }
  }

  .social {
    ul {
      li {
        display: inline-block;
        margin-left: 16px;

        a {
          width: 50px;
          height: 50px;
          background-color: #f2f2f2;
          border-radius: 50%;
          color: $themeColor;
          font-size: 22px;
          line-height: 50px;
          text-align: center;
        }

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}