@import "../variable/color";

.ongoing {
  padding-top: 80px;

  .ongoing-item {
    background-color: #f2f2f2;
    margin-bottom: 24px;

    .image {
      height: 200px;
      overflow: hidden;

      img {
        height: 100%;
        object-fit: cover;
        object-position: center;
        transition: all linear .2s;
      }
    }

    &:hover {
      .image {
        img {
          transform: scale(1.1);
        }
      }
    }

    .text {
      padding: 20px;
      padding-left: 0;

      h4 {
        font-size: 22px;
        font-weight: 600;
        color: $black;
        transition: all linear .2s;

        &:hover {
          color: $themeColor;
        }
      }

      .read {
        margin-top: 24px;
        background-color: $themeColor;
        color: $white;
        padding: 7px 20px;
        transition: all linear .2s;

        &:hover {
          background-color: $black;
        }
      }
    }
  }
}